*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  overflow-x: hidden;
  overflow-y: auto;
}

h2 {
  font-size: 0.75rem;
  font-weight: normal;
}

.nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 20px 30px;
  background-color: #ffffff;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
}

.nav-logo {
  width: 90px;
}

main {
  display: flex;
  flex-direction: column;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
}

.hero-grid {
  flex: 1;
  max-width: 50%;
}

.hero-content {
  width: 30%;
}

.hero-content > h1 {
  font-size: 2.2rem;
  font-weight: 600;
}

.hero-content > p {
  font-size: 1rem;
  font-weight: 300;
}

.experience-cards {
  width: 80%;
  margin: 0 auto;
  flex: 1;
  overflow-x: scroll;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  row-gap: 30px;
}

.card {
  flex: 1;
  flex-basis: 175px;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  max-height: 438px;
  max-width: 236px;
  min-height: 235px;
}

.card-status {
  background-color: #ffffff;
  position: absolute;
  top: 6px;
  left: 6px;
  padding: 5px 10px;
  border-radius: 2px;
  font-size: 0.6875rem;
}

.card-image {
  object-fit: cover;
  object-position: center;
  aspect-ratio: 2.5/4;
  border-radius: 9px;
}

.card-content {
  margin-top: 10px;
  font-size: 0.625rem;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-stats {
  display: flex;
  gap: 5px;
}

.star-icon {
  color: #fe395c;
  margin-right: 5px;
}

.card-stats > span {
  color: #918e9b;
}

.card-description {
  font-size: 0.75rem;
}

.card-pricing-info {
  display: flex;
  gap: 5px;
}
.price {
  color: #222222;
  font-weight: bold;
}

@media all and (max-width: 680px) {
  .hero {
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 30px 36px;
  }

  .hero-grid {
    padding: 0px 30px;
    max-width: 80%;
    margin: 0 auto;
  }

  .hero-content {
    margin: 0 auto;
    margin-top: 32px;
    width: 80%;
  }

  .hero-content p {
    max-width: 70%;
  }

  .card {
    max-width: 176px;
    max-height: 235px;
  }
}
